@charset "UTF-8";
/* CSS Document */

.BGHome {
  background: url(../img/BG-Home.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.centerPage{
 min-height:100%;
 min-height:100vh;
 display: flex;
 align-items:center; 
 z-index:-10000;	 
}

.enterButton{
	color:rgba(255,255,255,.70);
}
.enterButton:hover{
	text-decoration: none;
	color:rgba(255,255,255,1);
}

.fadeIn{
	display:none;
}