@charset "UTF-8";
/* CSS Document */

.BGHome {
  background: url(../img/wallpaper.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

