/********************* Colour reference chart****************
*************************** comment ********* colour ******** 

c1              #000000
c2				#101010
c3				#FFFFFF
c4				#009F33
c5				#042915
c6				#5B5B5B

*/

.c1Color{color: /*c1*/#000000;}
.c2Color{color: /*c2*/#101010;}
.c3Color{color: /*c3*/#FFFFFF;}
.c4Color{color: /*c4*/#009F33;}
.c5Color{color: /*c5*/#042915;}
.c6Color{color: /*c6*/#5B5B5B;}

.c1Bg{background: /*c1*/#000000;}
.c2Bg{background: /*c2*/#101010;}
.c3Bg{background: /*c3*/#FFFFFF;}
.c4Bg{background: /*c4*/#009F33;}
.c5Bg{background: /*c5*/#042915;}
.c6Bg{background: /*c6*/#5B5B5B;}

.fontSmall{font-size: 70%;}
.fontMedium{font-size: 80%;}
.fontLarge{font-size: 90%;}

.headerSmall{font-size: 160%;}
.headerMedium{font-size: 200%;}
.headerLarge{font-size: 310%;}

.wid80{
	width:80%;
}

.wid60{
	width:60%;
}

.wid40{
	width:40%;
}

.min100{
	min-width: 200px;
}

.min150{
	min-width: 150px;
}

.min200{
	min-width: 200px;
}

.min250{
	min-width: 250px;
}

.min300{
	min-width: 300px;
}

.minn350{
	min-width: 350px;
}


.card{
	min-width: 200px;
	width:25%;
	min-height: 50px;
	padding-: 10px;
	margin: 10px;
	border:15px solid /*c4*/#009F33; 
    border-radius: 25px; 
}

#contactsBox{
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

div.rect{
  border:5px solid /*c4*/#009F33; border-radius: 25px; 
}

hr.hide {visibility:hidden;}
hr.paddingmin{height:0px;}
hr.split{width:35%; height:.2em; border:none;}


body {margin : 0px; Font-family : Arial, Helvetica, sans-serif; background: /*c1*/#000000;}
.topLinks{margin-top: 1%; margin-right: 3%;}
a.topLinks{margin: 2%;}

.topName{margin-left: 6%;}

.noDecoration{text-decoration:none;}
.center{text-align: center;}
.iconAlign{vertical-align: middle;}
.iconFontSmall{ height: 1.8em; width: 1.8em;}
.padding5{padding:4px;}