/********************* Colour reference chart****************
*************************** comment ********* colour ******** 

c1        #000000
c2				#101010
c3				#FFFFFF
c4				#009F33
c5				#042915
c6				#5B5B5B 
c7        #EEEEEE
mac       #990033
nhs       #800080
CTW       #007CC2
HW        #463EAC
HET       #00A652
MG        #F6F6CC
HG        #b3ffff 
*/

a.topLinks:hover {border-style:  solid; border-color: /*c3*/#FFFFFF #000000; font-size: 150%;}
.topLinks{margin-top: 1%; margin-right: 3%;}
a.topLinks{margin: 2%;}
a.topLinksSelected{margin: 2%; font-size: 110%;}
a.topLinksMakeHeight{margin: 2%; font-size: 150%;}

a.c3Link:hover{text-decoration:none; color: /*c7*/#EEEEEE;}
a.c3Link{text-decoration:none; color: /*c3*/#FFFFFF;}
img.W400{max-width: 400px;}
img.W350{max-width: 350px;}
img.W300{max-width: 300px;}
img.W250{max-width: 250px;}
img.W200{max-width: 200px;}
img.W150{max-width: 150px;}
img.W140{max-width: 140px;}
img.W100{max-width: 100px;}
img.W90{max-width: 90px;}
img.W80{max-width: 80px;}

tr.bottomBorderC1 td {border-bottom:1pt solid /*c1*/#000000;}
tr.bottomBorderC2 td {border-bottom:1pt solid /*c2*/#101010;}
tr.bottomBorderC3 td {border-bottom:1pt solid /*c3*/#FFFFFF;}
tr.bottomBorderC4 td {border-bottom:1pt solid /*c4*/#009F33;}
tr.bottomBorderC5 td {border-bottom:1pt solid /*c5*/#042915;}
tr.bottomBorderC6 td {border-bottom:1pt solid /*c6*/#5B5B5B;}
tr.bottomBorderC7 td {border-bottom:1pt solid /*c7*/#EEEEEE;}

.c1Color{color: /*c1*/#000000;}
.c2Color{color: /*c2*/#101010;}
.c3Color{color: /*c3*/#FFFFFF;}
.c4Color{color: /*c4*/#009F33;}
.c5Color{color: /*c5*/#042915;}
.c6Color{color: /*c6*/#5B5B5B;}
.c7Color{color: /*c7*/#EEEEEE;}
.macColor{color: /*mac*/#990033;}
.nhsColor{color: /*nhs*/#800080;}
.CTWColor{color: /*CTW*/#4fb5ef;}
.HWColor{color: /*HW*/#463EAC;}
.HETColor{color: /*HET*/#8ec641;}

.LCColorLight{color: /*LC*/#6fafd2 ;}
.MGColorLight{color: /*MG*/#9f9089 ;}
.HGColorLight{color: /*HG*/#0042D1;}

.c1Bg{background: /*c1*/#000000;}
.c2Bg{background: /*c2*/#101010;}
.c3Bg{background: /*c3*/#FFFFFF;}
.c4Bg{background: /*c4*/#009F33;}
.c5Bg{background: /*c5*/#042915;}
.c6Bg{background: /*c6*/#5B5B5B;}
.c7Bg{background: /*c7*/#EEEEEE;}
.macBg{background: /*mac*/#990033;}
.nhsBg{background: /*nhs*/#800080;}
.CTWBg{background: /*CTW*/#4fb5ef;}
.HWBg{background: /*HW*/#463EAC;}
.HETBg{background: /*HET*/#8ec641;}
.LCBg{background: /*LC*/#FFFFFF;}
.MGBg{background: /*MG*/#F6F6CC ;}
.HGBg{background: /*HG*/#07bbff;}

.fontSmall{font-size: 70%;}
.fontMedium{font-size: 80%;}
.fontLarge{font-size: 90%;}

.headerExtraSmall{font-size: 120%;}
.headerSmall{font-size: 160%;}
.headerMedium{font-size: 200%;}
.headerLarge{font-size: 310%;}

.widFullCard{width:100%  +15px;margin:0 -15px;}
.wid80{width:80%;}
.wid60{width:60%;}
.wid40{width:40%;}
.wid90{width:90%;}
.wid25{width:25%;}
.min100{min-width: 100px;}
.min150{min-width: 150px;}
.min200{min-width: 200px;}
.min250{min-width: 250px;}
.min300{min-width: 300px;}
.minn350{min-width: 350px;}

.card{
	min-width: 200px;
	width:25%;
	min-height: 50px;
	padding-: 10px;
	margin: 10px;
	border:15px solid /*c4*/#009F33; 
    border-radius: 25px; 
}

.cardResume{
	min-height: 50px;
	padding-: 10px;
	margin: 10px;
}
.cardNoMin{
  padding-: 10px;
  margin: 10px;
}

.resumeBtn {
    background-color: /*c4*/#009F33;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.borderResumec1{border:15px solid /*c1*/#000000;}
.borderResumec2{border:15px solid /*c2*/#101010;}
.borderResumec3{border:15px solid /*c3*/#FFFFFF;}
.borderResumec4{border:15px solid /*c4*/#009F33;}
.borderResumec5{border:15px solid /*c5*/#042915;}
.borderResumec6{border:15px solid /*c6*/#5B5B5B;}
.borderResumec7{border:15px solid /*c7*/#EEEEEE;}
.borderResumemac{border:15px solid /*mac*/#990033;}
.borderResumenhs{border:15px solid /*nhs*/#800080;}
.borderResumeCTW{border:15px solid /*CTW*/#4fb5ef;}
.borderResumeHW{border:15px solid /*HW*/#463EAC;}
.borderResumeHET{border:15px solid /*HET*/#8ec641;}
.borderResumeLC{border:15px solid /*LC*/#FFFFFF;}
.borderResumeMG{border:15px solid /*MG*/#F6F6CC ;}
.borderResumeHG{border:15px solid /*HG*/#07bbff;}

.tableBorderc1{border-style: solid; border-color: /*c1*/#000000;}
.tableBorderc2{border-style: solid; border-color: /*c2*/#101010;}
.tableBorderc3{border-style: solid; border-color: /*c3*/#FFFFFF;}
.tableBorderc4{border-style: solid; border-color: /*c4*/#009F33;}
.tableBorderc5{border-style: solid; border-color: /*c5*/#042915;}
.tableBorderc6{border-style: solid; border-color: /*c6*/#5B5B5B;}
.tableBorderc7{border-style: solid; border-color: /*c7*/#EEEEEE;}

#contactsBox{
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.rectc15{border:5px solid /*c1*/#000000;}
.rectc25{border:5px solid /*c2*/#101010;}
.rectc35{border:5px solid /*c3*/#FFFFFF;}
.rectc45{border:5px solid /*c4*/#009F33;}
.rectc55{border:5px solid /*c5*/#042915;}
.rectc65{border:5px solid  /*c6*/#5B5B5B;}
.rectc75{border:5px solid  /*c7*/#EEEEEE;}


li.horizontalPoints{
	float:left;
	 padding-left: 10px; 
	 padding-right: 10px;"
}
.borderRad25{border-radius: 25px;}
.borderRad2{border-radius: 2px;}

.center{display: block;
    	margin-left: auto;
   		 margin-right: auto;
   		}
hr.hide {visibility:hidden;}
hr.paddingmin{height:0px;}
hr.split{width:35%; height:.2em; border:none;}

.topName{margin-left: 6%;}
.noDecoration{text-decoration:none;}
.center{text-align: center;}
.iconAlign{vertical-align: middle;}
.iconFontSmall{ height: 1.8em; width: 1.8em;}
.padding5{padding:4px;}